*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
body{
    margin-top: 100px;
}
.Login_Form{
    height: 70vh;
    width: 30vw;
    min-width: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: auto;
    display: grid;
    padding: 40px;
    

}

.Login_Form>.form-group{
   display: flex;
   flex-direction: column;

}
.Login_Form>.form-group>label{
    margin-bottom: 10px;
    font-size: 20px;
    color: rgb(84, 22, 143);;
    
    
}
.Login_Form>.form-group>input{
    border: none;
    outline: none;
     border-bottom: 1px solid gray;
    height: 25px;
    font-size: 15px;
    padding: 5px;
    color: rgb(104, 68, 68);
}
.Login_Form>button{
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color:rgb(84, 22, 143);
    color: white;
    margin-top: 20px;
}

.Login_Form>.form-group>span{
    color: red;
    margin-top: 5px;
}

